/* CSS Reset */
body{
    background-color: lightgray;
}

#upload{
    height: 40px;
    border: 1px solid black;
}

#recharge{
    height: 40px;
    border: 1px solid black;
}

.ps-random{
    margin-top: 100px;
    text-align: center;
}